---
Checks: >
  -*,
  clang-analyzer-*,
  clang-diagnostic-*,
  -clang-analyzer-cplusplus*,
  -clang-diagnostic-unused-command-line-argument,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
WarningsAsErrors: >
  *,
  -clang-diagnostic-unused-command-line-argument,
HeaderFilterRegex: ''
FormatStyle: llvm
CheckOptions:
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '1'
  - key:             google-readability-function-size.StatementThreshold
    value:           '800'
...
