---
Language:  Cpp
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
SpaceBeforeParens: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  AfterFunction:   false
  AfterStruct:     false
  AfterUnion:      false
  BeforeElse:      false
  IndentBraces:    false
  AfterEnum:       false
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AlignArrayOfStructures: Left
IndentCaseLabels: true
AllowShortEnumsOnASingleLine: false
